@import url("https://cdn.jsdelivr.net/gh/sunn-us/SUIT/fonts/static/woff2/SUIT.css");

:root {
  --Grayscale-10: #ffffff;
  --Grayscale-20: #F0F2F5;
  --Grayscale-30: #4F5D70;
  --Grayscale-40: #222B38;
  --Grayscale-50: #1C232E;
  --Black-25: rgb(0,0,0,0.5);
  --Highlight: #3671C2;
  --Blue-ish: #D7E4F5;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: 'SUIT', sans-serif;
}

body {
  overflow: hidden;
  background: var(--Grayscale-20);
}

input {
  min-width: 0;
}

button {
  cursor: pointer;
}

button, input {
  border: none;
  outline: none;
  background: none;
}

a {
  color: var(--Highlight);
  text-decoration: underline;
}

svg {
  height: 48px;
}