@import url("https://cdn.jsdelivr.net/gh/sunn-us/SUIT/fonts/static/woff2/SUIT.css");

:root {
  
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: 'SUIT', sans-serif;
}

input {
  min-width: 0;
}

button {
  cursor: pointer;
}

button, input {
  border: none;
  outline: none;
  background: none;
}

a {
  text-decoration: none;
  color: inherit;
}