---
import { Image } from "astro:assets";
import Layout from "../layouts/Layout.astro";
import Info from "../components/user/Info.svelte";
import Barcode from "../components/Barcode.tsx";

import Logout from "../assets/logout.svg";
import Background from "../assets/images/pass_background.svg";
import Header from "../components/Header.astro";
---

<Layout title="모바일 학생증 서비스">
  <div class="wrapper">
    <Header />
    <div class="pass_wrapper">
      <div class="pass">
        <Info client:load />
        <div class="barcode">
          <Barcode client:idle />
          <p>S2220208</p>
        </div>
      </div>
      <button class="logout">
        <p>로그아웃</p>
        <Image src={Logout} alt="logout" width={16} height={16} />
      </button>
    </div>
  </div>
</Layout>

<script>
  import { userInfo, isEmpty, resetUserInfo } from "../stores/info";

  const logout = document.querySelector(".logout");

  logout?.addEventListener("click", () => {
    resetUserInfo();
    location.href = "/login";
  });

  // if (isEmpty) {
  //   location.href = "/login";
  // }
</script>

<style lang="scss" scoped>
  .wrapper {
    width: 100%;
    height: 100dvh;

    background-color: #f0f2f5;

    display: flex;
    align-items: center;
    justify-content: center;

    .logout {
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      bottom: 24px;

      padding: 12px 20px;
      gap: 4px;
      border-radius: 30px;

      display: flex;
      align-items: center;
      gap: 4px;
      background-color: #ffffff;

      p {
        color: #4f5d70;
        font-size: 15px;
        font-weight: 400;
      }
    }
  }

  @keyframes slideIn {
    from {
      transform: translateY(-12px);
    }
    to {
      transform: translateY(0);
    }
  }

  .pass {
    width: 100%;
    min-width: 244px;
    max-width: 420px;

    display: flex;
    flex-direction: column;
    box-shadow: 0px 16px 20px 0px rgba(82, 99, 133, 0.12);

    border-radius: 16px;
    margin: 0 auto;

    animation: slideIn 0.5s ease-in-out;

    &_wrapper {
      width: 100%;
      padding: 24px;
    }

    .barcode {
      border-radius: 0 0 12px 12px;
      padding: 24px 32px;

      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 8px;
      background-color: white;

      p {
        color: #1c232e;
        font-size: 15px;
        font-weight: 400;
        line-height: 150%;
      }
    }
  }
</style>
