---
import Layout from "../layouts/Layout.astro";

import Header from "../components/Header.astro";
import Content from "../components/info/Content.astro";
import Footer from "../components/Footer.astro";

import Github from "../assets/github.svg";
import Instagram from "../assets/instagram.svg";

const Contents = [
  {
    title: "SunrinINT가 무엇인가요?",
    content:
      "SunrinINT는 선린인터넷고등학교 학생들을 위한 서비스를 개발하는 팀입니다.",
  },
  {
    title: "누가 운영하는건가요?",
    content:
      "현재 정보보호과 재학생 2명과 콘텐츠디자인과 1명으로 구성되어 있으며, 원활한 관리를 위해 학생회와 제휴 중입니다.",
  },
  {
    title: "이슈를 제보하고 싶어요",
    content:
      '불편함이 있으시다면 <a target="_blank" href="mailto:intranet@sunrin.in">intranet@sunrin.in</a>으로 메일을 보내주시거나 인스타그램 <a target="_blank" href="https://www.instagram.com/sunrin_int/">@sunrin_int</a>에게 문의해주시면 됩니다.',
  },
  {
    title: "프로젝트에 기여하고 싶어요",
    content:
      'SunrinINT는 일부 오픈소스로 운영되고 있습니다. <a target="_blank" href="https://github.com/sunrin-int/sunrinint-pass">GitHub</a>에서 PR해주시면 검토 후 반영하도록 하겠습니다.',
  },
];
---

<Layout title="모바일 학생증 서비스">
  <div class="wrapper">
    <Header info />
    <div class="content">
      <div class="links">
        <!-- <a href="https://play.google.com/store/apps/details?id=kr.sunrin.intpass" target="_blank">
          <img src="/assets/google-play-badge.png" alt="Google Play" />
        </a>
        <a href="https://apps.apple.com/kr/app/%EC%84%A0%EB%A6%B0%EC%9D%B8%ED%84%B0%EB%84%B7%EA%B3%A0-%ED%95%99%EC%83%9D%EC%A6%9D/id1560915219" target="_blank">
          <img src="/assets/app-store-badge.png" alt="App Store" />
        </a> -->
        <a href="https://www.instagram.com/sunrin_int/" target="_blank">
          <img src={Instagram.src} alt="Instagram" />
           Instagram
        </a>
        <a href="https://github.com/sunrin-int/sunrinint-pass" target="_blank">
          <img src={Github.src} alt="GitHub" />
           GitHub
        </a>
      </div>
      {
        Contents.map((content) => (
          <Content title={content.title} content={content.content} />
        ))
      }
    </div>
    <Footer />
  </div>
</Layout>

<style lang="scss" scoped>
  body {
    overflow-y: scroll;
    background-color: var(--Grayscale-20);
  }

  .wrapper {
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .content {
    height: 100%;
    display: flex;
    padding: 66px 20px 32px 20px;
    flex-direction: column;
    align-items: center;
    gap: 12px;

    .links {
      width: 100%;
      display: flex;
      align-items: center;
      gap: 8px;

      a {
        flex: 1;
        display: flex;
        height: 44px;
        padding: 0px 20px;
        justify-content: center;
        align-items: center;
        gap: 8px;
        color: var(--Grayscale-30, #4f5d70);
        text-align: center;
        border-radius: 96px;
        background: var(--Grayscale-10, #fff);

        font-size: 15px;
        font-weight: 400;
        line-height: 24px; /* 160% */
        text-decoration: none;

        img {
          width: 16px;
          height: 16px;
        }
      }
    }
  }
</style>
