---
import Layout from "../layouts/Layout.astro";
import { Image } from "astro:assets";

import Logo from "../assets/logo.svg";
---

<Layout title="모바일 학생증 서비스">
  <div class="wrapper">
    <div class="logo">
      <Image src={Logo} alt="logo" width={170} height={64} />
      <div class="description">
        <Image src="/sunrin.svg" alt="sunrin" width={13} height={16} />
        <p>선린인터넷고등학교 모바일 학생증</p>
      </div>
    </div>
    <div class="buttons">
      <button class="login">학교 구글 계정으로 로그인</button>
      <button class="help">로그인에 문제가 있나요?</button>
    </div>
  </div>
</Layout>

<style lang="scss">
  .wrapper {
    width: 100vw;
    height: 100dvh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .logo {
    display: flex;
    width: 100vw;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    font-weight: 600;
    flex-shrink: 0;
  }

  .description {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
  }

  .buttons {
    display: flex;
    width: 335px;
    flex-direction: column;
    align-items: center;
    gap: 16px;

    position: absolute;
    bottom: 16px;

    button {
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .login {
      padding: 16px 0px;
      align-self: stretch;

      border-radius: 4px;
      background: #222b38;

      color: #fff;
      font-size: 17px;
      font-weight: 600;
    }

    .help {
      display: flex;
      padding: 12px 20px;
      gap: 4px;

      border-radius: 30px;
      background: #ebeff5;

      color: #4f5d70;
      text-align: center;
      font-size: 15px;
      font-weight: 400;
    }
  }
</style>
