---
import Layout from "../layouts/Layout.astro";
import { Image } from "astro:assets";

import Logo from "../assets/logo.svg";
import Sunrin from "../assets/sunrin_w_title.svg";
import Google from "../assets/images/google.svg";

import Modal, { MODAL_ID } from "../components/auth/Modal.astro";
---

<Layout title="모바일 학생증 서비스">
  <div class="wrapper">
    <div class="logo">
      <Image src={Logo} alt="logo" width={170} height={64} />
      <div class="description">
        <Image src={Sunrin} alt="sunrin" width={13} height={16} />
        <p>선린인터넷고등학교 모바일 학생증</p>
      </div>
    </div>
    <div class="buttons">
      <div class="login_wrapper">
        <button class="login">
          <Image src={Google} alt="google" />
          <p>학교 구글 계정으로 로그인</p>
        </button>
      </div>
      <button class="help" onclick={`showModal('${MODAL_ID}')`}
        >로그인에 문제가 있나요?</button
      >
    </div>
  </div>
  <Modal />
</Layout>

<style lang="scss">
  .wrapper {
    width: 100vw;
    height: 100dvh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .logo {
    display: flex;
    width: 100vw;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    font-weight: 600;
    flex-shrink: 0;
  }

  .description {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;

    p {
      color: var(--Grayscale-30);
    }
  }

  .buttons {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;

    position: absolute;
    bottom: 24px;

    button {
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .login {
      width: 100%;
      padding: 16px 0px;
      align-self: stretch;
      max-width: 480px;

      border-radius: 4px;
      background: var(--Grayscale-40);

      display: flex;
      align-items: center;
      gap: 8px;
      margin: 0 auto;

      p {
        color: var(--Grayscale-10);
        font-size: 17px;
        font-weight: 600;
      }

      &_wrapper {
        width: 100%;
        padding: 0 20px;
      }
    }

    .help {
      display: flex;
      padding: 12px 20px;
      gap: 4px;

      border-radius: 30px;
      background: var(--Grayscale-20);

      color: var(--Grayscale-30);
      text-align: center;
      font-size: 15px;
      font-weight: 400;
    }
  }
</style>
