---
// format: YYYY년 MM월 DD일
const BUILD_DATE = `${new Date().getFullYear()}년 ${
  new Date().getMonth() + 1
}월 ${new Date().getDate()}일`;
---

<div class="footer">
  <!-- <p>서비스 버전: {BUILD_DATE}</p> -->
  <p>&copy; 2023 SunrinINT.</p>
</div>

<style>
  .footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4px;
    margin-bottom: 40px;

    p {
      color: var(--Grayscale-30);
      text-align: center;
      font-family: SUIT;
      font-size: 15px;
      font-style: normal;
      font-weight: 400;
      line-height: 150%; /* 22.5px */
    }
  }
</style>
