---
import { Image } from "astro:assets";

interface Props {
  info?: boolean;
  settings?: boolean;
}

import Logo from "../assets/logo.svg";
import InfoEmpty from "../assets/info.svg";
import InfoFill from "../assets/info-fill.svg";
import SettingsEmpty from "../assets/settings.svg";
import SettingsFill from "../assets/settings-fill.svg";

const Info = Astro.props.info ? InfoFill : InfoEmpty;
const Settings = Astro.props.settings ? SettingsFill : SettingsEmpty;
---

<div class="header" transition:name="header" transition:animate="fade">
  <a href="/info">
    <Image src={Info} alt="info" width={24} height={24} />
  </a>
  <a href="/">
    <Image src={Logo} alt="landing" width={54} height={20} />
  </a>
  <a href="/settings">
    <Image src={Settings} alt="settings" width={24} height={24} /></a
  >
</div>
<style lang="scss">
  .header {
    z-index: 999;
    width: 100%;
    height: 56px;
    padding: 16px;

    position: fixed;
    top: 0;

    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    gap: 8px;
    background-color: var(--Grayscale-20);
  }

  img {
    cursor: pointer;
  }
</style>
