---
import { pwaInfo } from "virtual:pwa-info";
import "../styles/global.scss";

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="logo" type="image/svg+xml" href="/logo.svg" />
    <meta name="generator" content={Astro.generator} />
    <meta name="description" content={title} />
    <meta name="msapplication-TileColor" content="#FFFFFF" />
    <meta name="theme-color" content="#ffffff" />
    <meta property="og:title" content="IntPass" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://sunrin.in" />
    <meta property="og:image" content="/logos/og.png" />
    <meta
      property="og:description"
      content="선린인터넷고등학교 모바일 학생증 서비스"
    />
    <meta property="og:site_name" content="선린인터넷고등학교 모바일 학생증" />
    <title>{title}</title>
    <script src="/src/pwa.ts"></script>
    {pwaInfo && <Fragment set:html={pwaInfo.webManifest.linkTag} />}
  </head>
  <body>
    <slot />
  </body>
</html>
